<section class="section archive" [@archiveAnimation] *ngIf="state">
  <div class="container">
    <div class="archive-title">
      <h1 class="big-title">Projets</h1>
      <p class="archive-subtitle big-subtitle">Liste complète des projets réalisés</p>
    </div>
    <div class="archive-table-container">
      <table class="archive__StyledTable-lXDeB haZMKe">
        <thead>
          <tr>
            <th>Année</th>
            <th>Titre</th>
            <th class="hide-on-mobile">Entreprise / Projet</th>
            <th class="hide-on-mobile">Technos utilisées</th>
            <th>Lien</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2025</td>
            <td>HealthCare</td>
            <td>Projet PFE</td>
            <td>
              <span>Angular<span class="separator"> · </span></span>
              <span>Django<span class="separator"> · </span></span>
              <span>Docker</span>
            </td>
            <td>
              <a href="https://github.com/hjeijinabil/HealthCare.git" target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </td>
          </tr>

          <tr>
            <td>2024</td>
            <td>Application Agricole</td>
            <td>Projet académique</td>
            <td>
              <span>Spring Boot<span class="separator"> · </span></span>
              <span>Angular<span class="separator"> · </span></span>
              <span>MongoDB</span>
            </td>
            <td>
              <a href="https://github.com/hjeijinabil/agriculture-platform.git" target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </td>
          </tr>

          <tr>
            <td>2024</td>
            <td>LawFirm</td>
            <td>Projet académique</td>
            <td>
              <span>Spring Boot<span class="separator"> · </span></span>
              <span>JWT<span class="separator"> · </span></span>
              <span>Angular</span>
            </td>
            <td>
              <a href="https://github.com/hjeijinabil/ProjetSpring-main.git" target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </td>
          </tr>

          <tr>
            <td>2023</td>
            <td>Upwork Clone</td>
            <td>Projet académique</td>
            <td>
              <span>Spring Boot<span class="separator"> · </span></span>
              <span>JWT</span>
            </td>
            <td>
              <a href="https://github.com/hjeijinabil/ProjetSpring-main.git" target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </td>
          </tr>

          <tr>
            <td>2022</td>
            <td>App Sportive</td>
            <td>Projet de fin de licence</td>
            <td>
              <span>Angular<span class="separator"> · </span></span>
              <span>MongoDB<span class="separator"> · </span></span>
              <span>Express.js</span>
            </td>
            <td>
              <a href="https://github.com/hjeijinabil/App-Sportive-.git" target="_blank"><i class="ml-4 fab fa-github"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
